# ----------------------------------------
# Devbox Setup
# ----------------------------------------
export DEVBOX_USE_VERSION=0.16.0

eval "$(devbox generate direnv --print-envrc)"

# ----------------------------------------
# Env Setup
# ----------------------------------------

# Only valid for one hour so useful for testing only
export GOOGLE_WORKSPACE_CLI_TOKEN=$(pass google-workspace-cli-token)
